*
{
    padding: 0;
    margin: 0;
}

/*------------------------CSS managing the container-----------------------*/
#container
{
    width: 80%;
    height: 100vh;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-image: url("../img/astronomy.jpg");
    overflow: auto;
}
/*-------------------------------------------------------------------------*/

/*----------------------CSS managing the header----------------------------*/
#header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
#header_img
{
    width: 80%;
    display: block;
    margin: 0;
    margin-left: 10%;
    padding: 0;
}

#header_img img
{
    display: none;
}

#trace_page
{
    background-color: brown;
    color: ghostwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
}

#header_text
{
    text-align: center;
    background-color: #E5E5E5;
    color: #3A6F69;
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------------------*/
/*---------------------------CSS MAIN DIV----------------------------------*/
#main
{
    width: 80%;
    position: absolute;
    top: 50%;
    border: 1px solid red;
    opacity: 0.7;
    margin-left: 10%;
    
}

.qp_d
{
    background-color: black;
    line-height: 1.5em;
    opacity: 1;
}

.qp_d h2
{
    color: #0C55A7;
}

#ac_d
{
    width: 80%;
    background-color: #E5E5E5;
    margin: auto;
    opacity: 100%;
}


#ac_d ul
{
    padding: 0;
    margin: 0;
}

#ac_d ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

